code:not([class*='language-']),
code[class*='language-'],
pre[class*='language-'] {
  font-family: Monaco, Consolas, 'Andale Mono', 'Ubuntu Mono', 'Courier New', monospace;
  font-size: 14px;
}
code[class*='language-'],
pre[class*='language-'] {
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  hyphens: none;
  color: inherit;
  text-shadow: none;
  line-height: 1.5em;
  tab-size: 4;
}
code[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
pre[class*='language-']::-moz-selection {
  text-shadow: none;
  opacity: 1;
  color: #eee;
  background: #012338;
}
code[class*='language-'] ::selection,
code[class*='language-']::selection,
pre[class*='language-'] ::selection,
pre[class*='language-']::selection {
  text-shadow: none;
  opacity: 1;
  color: #eee;
  background: #012338;
}
@media print {
  code[class*='language-'],
  pre[class*='language-'] {
    text-shadow: none !important;
  }
}
:not(pre) > code[class*='language-'] {
  white-space: normal;
  color: #c3cee3;
  background: #012338;
  border-radius: 0.2em;
  padding: 0.1em;
}
pre > code[class*='language-'] {
  background: 0 0;
}
pre[class*='language-'] {
  overflow: auto;
  position: relative;
  color: #c3cee3;
  background: #012338;
  margin: 0.5em 0;
  padding: 1.25em 1em;
  border-radius: 8px;
}
.token.number,
.token.url,
pre[class*='language-'].language-css > code,
pre[class*='language-'].language-sass > code,
pre[class*='language-'].language-scss > code {
  color: #fd9170;
}
[class*='language-'] .namespace {
  opacity: 0.7;
}
code:not([class*='language-']) {
  background: rgba(150, 150, 150, 0.25);
  padding: 4px;
  border-radius: 4px;
  margin-bottom: 2px;
}
.token.atrule,
.token.boolean,
.token.constant,
.token.function,
.token.symbol {
  color: #c792ea;
}
.token.attr-name,
.token.builtin,
.token.class,
.token.maybe-class-name {
  color: #ffcb6b;
}
.token.attr-value,
.token.attribute,
.token.pseudo-class,
.token.pseudo-element,
.token.string {
  color: #c3e88d;
}
.token.cdata,
.token.char,
.token.inserted,
.token.property {
  color: #80cbc4;
}
.token.class-name,
.token.color,
.token.hexcode,
.token.regex {
  color: #f2ff00;
}
.token.comment,
.token.doctype,
.token.prolog {
  color: #546e7a;
}
.token.deleted,
.token.entity,
.token.selector,
.token.tag,
.token.unit,
.token.variable {
  color: #f07178;
}
.token.id,
.token.important {
  color: #c792ea;
  font-weight: 700;
}
.token.keyword {
  color: #c792ea;
  font-style: italic;
}
.token.operator,
.token.punctuation {
  color: #89ddff;
}
